$background-color: #252A38;
$darker-background-color: #151820;
$foreground-color: #DCDCDC;
$primary-color: #2985FF;
$transparent-overlay-color: rgba(37, 42, 56, 0.56);
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$base-gap: 16px;