@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin post-list-grid-layout($gap: 16px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
  
    @media (max-width: 899px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 599px) {
      grid-template-columns: 1fr;
    }
}

@mixin post-list-flex-layout($gap: 16px) {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    justify-content: center;

    li {
        flex: 1 1 calc(33% - $gap);
        max-width: calc(33% - $gap);
    }

    @media (max-width: 899px) {
        li {
            flex: 1 1 calc(50% - $gap);
            max-width: calc(50% - $gap);
        }
    }

    @media (max-width: 599px) {
        li {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}
